#root {
    background-image: url(../../pic/img3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#root .login-form {
    width: 35%;
    height: 80%;
    background-color: #fff;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -100px;
    box-shadow: 3px 5px 10px #333;
    animation: delayShow 1s ease-in-out;
}

#root .content {
    width: 40%;
}

#root .content h1{
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 0;
    animation: showContent 1s ease-in-out;
}

#root .content h2{
    font-size: 4rem;
    color: #8cb1f3;
    font-weight: 800;
    animation: showContent 1.5s ease-in-out;
}

#root .content p{
    animation: showContent 2s ease-in-out;
}

#root .login-form form {
    width: 100%;
}

#root .login-form form input::placeholder{
    font-size: 0.8rem;
    color: #c1c3c5;
    font-weight: 300;
}

#root .login-form form input:not([type="checkbox"]){
   border-radius: unset;
   border: unset;
   border-bottom: 1px solid #dee1e6;
}

#root .login-form form input:focus{
    box-shadow: none;
    border-color: #000;
 }

#root .login-form .login-form-header {
    font-size: 3rem;
    height: 2rem;
}

@keyframes delayShow {
    from {
        transform: scale(0.6);
    }
    to {
        transform: scale(1);
    }
}

@keyframes showContent{
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }to{
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media screen and (max-width: 480px) {

    #root {
        padding: 0;
    }
    #root .content {
        display: none;
    }

    #root .login-form {
        width: 100%;
        height: 100%;
        border-radius: unset;
    }
    
}